/* Global
-----------------------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color: #343434;
    margin: 0;
    padding: 0;
}
a {
    color: #ffe66d;
}
a:hover {
    text-decoration: none;
}
.content-wrap {
    /* background:red; */
    width: 900px;
    margin: 0 auto; 
    padding:60px 0;
}

/* Profile
-----------------------------------------------*/
header {
    background: #2F3061;
    color: #f7fff7;
    font-family: sans-serif;
}
/* Projects
-----------------------------------------------*/
.flex-container {
    display: flex;
}
.flex-item p a{
    background:none;
    color: #343434;
    text-decoration: underline;
}
.flex-item {
    flex: 0 1 auto;
}

#music-projects .flex-item {
    padding-bottom: 10px;
    border-bottom: 2px;
    border-bottom-style: solid;
}
.project-item {
    overflow: hidden;
}
.project-item img {
    margin: 10px;
    float: left;
}
.project-item .btn {
    display: block;
    clear: both;
}
.personal-projects {
    background: #f7fff7;
}
.personal-projects h3{
    margin-top: 0px;
}
.personal-projects img {
    width: 256px;
    height: 256px;
    background: #2F3061;
    padding: 10px;
    margin: 0;
    margin-right: 20px;
}
.personal-projects a{
    color: #f7fff7;
    background: #2f3061;
    text-decoration: none;
}
.personal-projects .btn {
    color: #f7fff7;
    background: #2f3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.personal-projects .btn:hover {
    color: #f7fff7;
    background:rgb(47, 48, 97, 80%);
    text-decoration: none;
    padding: 8px;
}

/* Work Experience
-----------------------------------------------*/
.work-experience{
    background: #a1c6d7;
    
}
/* Education
-----------------------------------------------*/

/* Contact Info
-----------------------------------------------*/
footer {
    background: #343434;
    color: #f7fff7;
}

footer a {
    margin-left: 2px;
}

footer a:hover {
    background: rgb(47, 48, 97, 80%);
}
/* Anything
---------------------------------------*/

.anything div {
    background: red;
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
}
.first{
    margin: 0px;
}
.second{
    margin:0;
}
.anything span {
    background: blue;
    border: 1px solid black;
}